.vscode/
.venv
__pycache__
**/.dockerignore
**/.env
**/.git
**/.gitignore
**/.vs
**/.vscode
**/*.*proj.user
**/azds.yaml
**/.docker.config
**/.gitlab-ci.yml
**/.editorconfig
**/.eclipse
**/build
**/public
**/dockerfile
**/LICENSE
**/.pytest_cache
**/.__pycache__
**/.venv
**/.vscode/
**/npmrc
**/nvmrc
**/*enkinsfile
**/udclient.jar
**/README.md
**/dist/*
**/tmp/*
**/temp/*
**/node_modules/*
**/build-in-docker
**/*.log
**/*.log.*
**/.cache
**/*.iso
**/*.tar.gz
automation
